flows/CIN_Opportunity_Update_Close_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>If_record_type_equals_Cinetik</name>
        <label>If record type equals Cinetik</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpportunityrecordType_equal_Cinetik</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_close_date</targetReference>
            </connector>
            <label>OpportunityrecordType equal Cinetik</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datePlus</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <interviewLabel>CIN Opportunity Update Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIN Opportunity Update Close Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_close_date</name>
        <label>Update close date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>datePlus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_record_type_equals_Cinetik</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
