flows/CIN_AssignedResource_Flow001_UpdateAppointmentOwner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_service_appointment</name>
        <label>set service appointment</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentid.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_OwnerId_field_on_ServiceAppointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_ServiceResourceId_on_AssignedResource_is_set_or_updated</name>
        <label>if ServiceResourceId on AssignedResource is set or updated</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>not set or not updated</defaultConnectorLabel>
        <rules>
            <name>is_set_or_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResourceId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResourceId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_service_appointment</targetReference>
            </connector>
            <label>is set or updated</label>
        </rules>
    </decisions>
    <description>When the field ServiceResourceId on the AssignedResource is set or updated, update the OwnerId field on the related ServiceAppointment with the value ServiceResource.RelatedRecordId</description>
    <environments>Default</environments>
    <interviewLabel>CIN AssignedResource_Flow001_UpdateAppointmentOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIN AssignedResource UpdateAppointmentOwner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Appointent</name>
        <label>Get Service Appointent</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_ServiceResourceId_on_AssignedResource_is_set_or_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_OwnerId_field_on_ServiceAppointment</name>
        <label>update OwnerId field on ServiceAppointment</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointent</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceAppointmentid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
