flows/ITOrg_cinetik_equal_RecordType_CIN.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Record_Values</name>
        <label>Assign Record Values</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypecin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecordTypeCIN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_itOrg_equal_cinetik_recordtype_equal_cin</name>
        <label>if itOrg equal cinetik recordtype equal cin</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>itOrg_equal_cinetik</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ITOrg__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cinetik</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Values</targetReference>
            </connector>
            <label>itOrg equal cinetik</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ITOrg cinetik equal RecordType CIN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIN ITOrgToRecordType</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateRecordTypeCIN</name>
        <label>updateRecordTypeCIN</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypecin</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_itOrg_equal_cinetik_recordtype_equal_cin</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordTypecin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0120D0000001wG7QAI</stringValue>
        </value>
    </variables>
</Flow>
